<nav class="navbar">
  <div class="logo" (click)="irAInicio()" style="cursor:pointer">Proyecto 2</div>
  <div class="nav-links">
    <button *ngIf="!nombreUsuario" class="btn-registro" (click)="irALogin()">Logearse</button>
    
    <div *ngIf="nombreUsuario" class="user-info">
      <span class="welcome-text">Bienvenido, <strong>{{ nombreUsuario }}</strong></span>
      <button class="btn-logout" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</nav>

<div *ngIf="router.url === '/' || router.url === ''">
  <header class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <span class="badge">PROYECTO 2</span>
        <h1 *ngIf="!nombreUsuario">Proyecto 2</h1>
        <h1 *ngIf="nombreUsuario">Hola, {{ nombreUsuario }}</h1>
        <p>Sistema de gestión y acceso</p>
        
        <div class="hero-actions">
          <button *ngIf="!nombreUsuario" class="btn-principal" (click)="irALogin()">INGRESAR AL SISTEMA</button>
          
      
          <button *ngIf="nombreUsuario" class="btn-principal" (click)="router.navigate(['/menu'])">IR AL MENÚ</button>
        </div>
      </div>
    </div>
  </header>
</div>


<router-outlet></router-outlet>